{% extends "base.html" %}

{% block content %}
        <div class="container" style="background: #DCDAD7">
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
                <table>
                    {{ form }}
                </table>

                <input type="submit" value="login" />
                <input type="hidden" name="next" value='{% url "internal_landing" %}' />

            </form>
        <div>

        <div class="container">
            To view sample data,</br>
            login with the <strong>Username: Jeff</strong> </br>
            and the <strong>Password: Jeff</strong></br></br>
        </div>

{% endblock %}
