{% load staticfiles %}
{% block imports %}
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
<!-- Optional theme -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"> -->
<!-- Latest compiled and minified JavaScript -->
{% endblock %}
{% block nav_bar %}
    <style>
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    </style>
<nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href=/>Swim with the shark</a>
   </div>
   <div>
      <ul class="nav navbar-nav">
      {% if user.is_authenticated %}
          <li><a href=/internal_landing/>Home</a></li>
          <li><a>{{ " - " }}</a></li>
          <li><a href=/charts/>Charts</a></li>
          <li><a href=/upload_data/>Upload Data</a></li>
          <li><a href=/trade_list/>Trade details</a></li>
          <li><a>{{ " - " }}</a></li>
          <li><a>{{ user.username }}</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
      {% endif %}
      </ul>
   </div>
</nav>
{% endblock %}


{% block content %}
    this is my base content
{% endblock%}


{% block id_user %}
    {% if user.is_authenticated %}
        <p>Welcome {{ user.username }}  <a href="{% url 'logout' %}">logout</a></p>
    {% else %}
        <p>If you do not have an account, please <a href="{% url 'register' %}">register</a></p>
    {% endif %}
{% endblock %}
