{% extends 'base.html' %}


{% block nav_bar %}
    <style>
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    </style>
    <ul>
      <li><a href=/charts/>Charts</a></li>
      <li><a href=/upload_data/>Upload Data</a></li>
      <li><a href=/trade_list/>Trade details</a></li>
      <li><a href="{% url 'logout' %}">logout</a></li>
      <li><a href="{% url 'internal_landing' %}">Home</a></li>
    </ul>
{% endblock %}


{% block content %}
<body>
<div class="image-holder">
<img src="{{ graph_one }}"/>
<img src="{{ graph_two }}"/>
<img src="{{ graph_three }}"/>
<img src="{{ graph_four }}"/>
<img src="{{ graph_five }}"/>
<img src="{{ graph_six }}"/>
<img src="{{ graph_seven }}"/>
</div>
</body>
{% endblock %}



{% block id_user %}
{% endblock %}