{% extends 'base.html' %}


{% block content %}
<body>
<style>
    .image-holder{
        display:inline-block;
    }
    .imagepage{
        margin-bottom: 10%;
    }
</style>
    <br/>

    <form method="POST">{% csrf_token %}
        <p>Start date<input type = 'date'  name='start_date' ></p>
        <p>End date<input type = 'date'  name='end_date' ></p>
        <button type="submit">Submit</button>
        <br/>
        <p>{{ invalid_date_response }}</p>
        <p>{{ full_date_response }}</p>
        <p>{{ message }}</p>
    </form>

<div class="imagepage">
<div class="imageholder"><img src="{{ graph_one }}"/></div>
<div class="image-holder"><img src="{{ graph_two }}"/></div>
<div class="image-holder"><img src="{{ graph_five }}"/></div>
<div class="image-holder"><img src="{{ graph_six }}"/></div>
<div class="image-holder"><img src="{{ graph_seven }}"/></div>
<div class="image-holder"><img src="{{ graph_three }}"/></div>
<div class="image-holder"><img src="{{ graph_four }}"/></div>
</div>
</body>
{% endblock %}



{% block id_user %}
{% endblock %}