{% extends 'base.html' %}


{% block content  %}
<div class="charts-large">
    <button type="button" class="onimagebutton btn btn-default btn-lg animated fadeIn" name="button" style="
    width: 25%;
    animation-duration: 3s;
    display: inline-block;
    margin-top: 50px;
    margin-left: 7.5%;
    margin-right: 2.5%;
    text-decoration: none;
    float: left;"><a style="color: RGBA(44, 62, 83, 1);" href=/charts/>View charts of your data</a></button>
</div>
<div class="upload-data-large">
    <button type="button" class="onimagebutton btn btn-default btn-lg animated fadeIn" name="button" style="
    width: 25%;
    animation-duration: 3s;
    display: inline-block;
    margin-top: 50px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-decoration: none;
    float: left;"><a style="color: RGBA(44, 62, 83, 1);" href=/upload_data/>Upload your trade data</a></button>
</div>
<div class="trade-details-large">
<!--   <button type="button" class="onimagebutton btn btn-default btn-lg animated bounceInRight" name="button" style=" -->
    <button type="button" class="onimagebutton btn btn-default btn-lg animated fadeIn" name="button" style="
    width: 25%;
    animation-duration: 3s;
    display: inline-block;
    margin-top: 50px;
    margin-left: 2.5%;
    margin-right: 7.5%;
    text-decoration: none;
    float: left;"><a style="color: RGBA(44, 62, 83, 1);" href=/trade_list/>View and analyze your trades</a></button>
</div>
</div>


{% endblock %}


{% block id_user %}
{% endblock %}
<body>

</body>
