{% extends "base.html" %}


{% block content %}
    {{ object }}

    <form method="POST" action="{% url 'trade_notes_view' %}">
        {% csrf_token %}
        <textarea name="note"></textarea>
        <input type="hidden" name="next" value='{{ object.id }}'/>
        <input type="submit" value="Trade Notes" />

    </form>


{% for comment in comments %}
    <br/><h3>Time</h3>  {{ comment.timestamp}}
    <br/><h3>Note content</h3>  {{ comment.note }}
{% endfor %}


{% endblock %}

{% block id_user %}
{% endblock %}